:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --content-text-color: #F1B2CE;
  --title-text-color: #000028;
  --big-text-color: #DB00FF;
  --main-font: 'IBM Plex mono', sans-serif;
  --padding: 10px;
  --batton-hover-color: rgba(255, 0, 112, 0.40);
  --border-color: var(--section-title-color);
  --button-color: #FF0070;
  --section-title-color: #FF0070;
  --link-decor-color: #F1B2CE;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (768px <= width) {
  :root {
    --padding: 20px;
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
